.c-wrapper {
  width: 100%;
  background: rgb(253, 246, 234);
}

.c-wrapper > h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-s);
  color: #474b4f;
}

.c-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3,2fr);

  padding: 4rem;
  gap: 5%;
  padding: 0 auto;
}

.c-container .c-img {
  width: 5rem;
  border-radius: 100px;
  background: rgb(12, 114, 111);
  padding: 1rem;
}

.c-container .c-img > img {
  width: 100%;

}




@media (min-width: 760px) {
  .c-wrapper {
    padding: 4rem;
  }
.c-wrapper > h1 {
  margin-bottom: 5rem;
  font-size: var(--font-l);
}

.c-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;


width: 100%;
  padding: 4rem;
  gap: 5%;
  padding: 0 auto;

}

 .c-container .c-img {
  border: 2px solid rgb(87, 101, 101);
  width: 10rem;



  /* width: 100%;
  border-radius: 100px;
  background: rgb(12, 114, 111);
  padding: 2rem; */
 }

}
