/* .hero-wrapper {
  max-width: 100%;
  height: 80rem;
  background-image: url("/hero-img.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
} */

.logo-image {
  max-width: 70%;
  position: absolute;
  margin-top: 35em;
  left: 35%;
  transform: translateY(-30%);
  top: 0;
}
.logo img {
  width: 100%;
}

.intro-container {
  max-width: 70%;
  margin: 30rem auto;
  font-size: 14px;
  padding: 2rem;
}

.intro-container * {
  margin-bottom: 0.5rem;
}

.intro-caption {
  margin: 0px 0px 17px;
}

.intro-caption h4 {
  font-size: 12px;
  margin: 20px 0px;
}

.divider {
  height: 2px;
  width: 100px;
  background-color: #d3ded3;
  margin-right: 10px;
}

.overflow-container h2 {
  font-size: 50px;
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--font-l);
}

.intro-container p {
  font-size: 13px;
  margin: 10px 0px;
}

/** __________________________________ mobile _____________________________________*/
@media  (min-width: 280px) and (max-width: 768px) {
  .hero-wrapper {
    width: 100%;
    max-height: 60vh;
  }

  .logo-image {
    display: none;
    max-width: 80%;
    top: 0;
  }

  .logo-image img {
    max-width: 100%;
  }
 
  .intro-caption h4 {
    font-size: 7px;
    margin: 0px 0px 10px;
  }

  .hero-wrapper .intro-container {
    /* margin: 17rem auto; */
    display: block;
    padding: 1rem;
    border: none;


    position: absolute;
    margin: 0 auto;
    top: 35%;
    left: 20%;
    width: 100%;
  }

  .intro-container * {
    margin-bottom: -1rem;
  }

  .overflow-container h2 {
    font-size: 15px;
    margin-top: 2rem;
  }

  .intro-container p {
    font-size: 12px;
    margin: 10px 0px;
  }
  .intro-container .ic-btn {
    border: 2px solid #61892f;
    font-size: 7px;
    padding: 7px 8px;
  }
}

@media  (max-width: 300px) {
   .hero-wrapper .intro-container {
    display: none;
  }
}