.about-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
}

.about-details,
.aboutImg {
  width: 100%;
}
.about-details{
  border-bottom: 2px solid grey;
}
.about-details h1, h2{
padding-bottom: 2rem;
}

.about-details p {
  line-height: 25px;
}

.aboutImg {
  display: none;
}

ul * {
    list-style-type:circle;
    padding: 1rem;
  }


@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    padding: 15rem 5rem 3rem 5rem;
  }

  .aboutImg {
    display: block;
    width: 50%;
  }

  .aboutImg > img {
    border-radius: 50%;
    width: 100%;
  }

  ul *{
    padding: 2rem;
  }

}
