.logo-container {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;  
  width: 100%;  
}

.nav-left ul,
.nav-right ul {
  display: flex;
  align-items: center;
}


.nav-left li,
.nav-right li {
 padding: 2rem;
  list-style: none;
}

.nav-left li a,
.nav-right li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}

.nav-left li a:hover,
.nav-right li a:hover,
.nav-right li a.active {
  cursor: pointer;
  background-color: #25531f;
  border: 2px solid #25531f;
  border-radius: 50%;
}

#mobile {
  display: none;
  color: #fff;
}

/** ________________ MEDIA QUERY _______________ */
@media (max-width: 768px) {
 

    .logo-container {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
      width: 70px;
      
    }

      .logo {
        width: 100%;
      }
    
      .logo img {
        width: 100%;
      }
    
    
      nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        max-height: 50px;
      }
    
      .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 40px 0 40px 20px;
        transform: translateX(100%);
        background: rgba(7, 91, 83, 0.46);
        border-radius: 16px;

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(91, 7, 7, 0.3);
        transition: transform 0.3s ease-in-out;
        margin-top: 5rem;

        z-index: 100; /* Set the z-index to a value greater than 99 to ensure it's above the mobile menu */
      }
    
      .nav-left ul,
      .nav-right ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
      }
    
      .nav-left li,
      .nav-right li {
        padding: 2rem;
        list-style: none;
      }
    
      .mobile-menu-open .nav-container {
        transform: translateX(0); /* Slide in mobile menu */
      }
    
      #mobile {
        display: block;
      }
    
      #mobile i {
        font-size: 15px;
        cursor: pointer;
      }
    
  
}