
/** _______________________ NEW STYLING FOR NAV */

.h-wrapper {
  font-size: var(--font-s);
  padding: 10px;
}
 
.h-container {
  gap: 30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.h-menu-left, .h-menu-right {
  text-transform: uppercase;
  color: rgb(221, 207, 207);
  font-family: "Helvetica Neue", sans-serif;
  gap: 50px;
  /* color: white; */
}


.h-menu-left a,
.h-menu-right a {
  text-decoration: none;
}

@media (max-width: 300px ){
    
  /* .header {
    width: 100%;
    height: 50vh;
  } */
  /* .nav-container {
    display: none;
  } */
  /* .logo {
    max-width: 50%;
    margin-top: 20em;
  }
  .arrow {
    top:30%;
  } */
  .h-menu-right{
    display: flex;
    flex-direction: column;
  }
}
