.footer {
    background-color: rgb(17, 48, 8);
}



.footer-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  color: white;
  align-items: center;
  text-align: center;
  /* padding: 80px 20px; */
  padding: 40px 0;

  background: url('./footer-bg.png');
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
 

  .footer-container>div {
    margin: 40px 30px;
    width: 40rem;
    border: 2px solid red;
  }


  .footer-container  h2 {
    color: var(--lightGreen);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 7px;
  }


  .footer-container p {
    opacity: 0.7;
  }



















.subs {
  background: #000;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}
.subs i {
  font-size: 26px;
  flex: 10%;
  display: block;
}
.subs input {
  flex: 60%;
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 0 5px;
  outline: 0;
  color: #fff;
}
.subs button {
  flex: 30%;
  font-size: 16px;
  padding: 15px 0;
  font-weight: bold;
  background: var(--lightGreen);
  border: none;
  transition: var(--transition);
  cursor: pointer;
}
.subs button:hover {
  color: #fff;
}
.footer > p {
  text-align: center;
  font-size: 14px;
}
